python-dotenv
pandas
openai
joblib
datasets
numpy==1.24.3
torch
sentence-transformers
scikit-learn==1.3.0
numexpr
pydantic
streamlit
# evo-apollo
# numpy
# matplotlib
# seaborn
# scipy
# jupyter
# ipywidgets
# tiktoken